{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <div class="col-lg-12">


        <!-- Author -->
        <p class="lead">
            Entradas
        </p>

        <hr>

        {% for post in posts %}

            <div class="col-lg-3" style="text-align: center">
                <img src="{{asset('uploads/images')}}/{{ post.image }}" class="img-fluid" style="width: auto;max-height: 300px;text-align: center">
                <p style="text-align: center;font-weight: bold">{{ post.tittle }}</p>
                <p style="text-align: justify;font-size: 12px;">{{ post.brief }}</p>
                <a class="btn btn-secondary" href="{{ path('post_view', {'id': post.id}) }}" style="">Ver m&aacute;s</a>

            </div>
        {% endfor %}
    </div>

{% endblock %}
